<!-- Config file for the game -->

<config>
  <app framerate_cap="">
    <title>Pathfinding Test</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="true"/>
  </renderer>

  <fonts>
    <default_font file="fonts/open_sans/DiabloII.TTF" size="19"/>
    <description_font file="fonts/DIABLO_L.TTF" size="12"/>
  </fonts>

  <gui>
    <atlas file="gui/DiabloAtlas.png"/>
  </gui>
    
  <window>
    <resolution width="640" height="478" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

</config>